* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}
html {
    scroll-behavior: smooth;
}

*::selection {
    background: #f2000056;
}

body {
    display: flex;
    flex-direction: column;
    background: #f5f6fa;
    color: #222;
    line-height: 1.6;
    min-height: 100vh;
}

.header {
    background: #222;
    color: #fff;
    padding: 2.5rem 0 2rem 0;
    text-align: center;
    box-shadow: 0 4px 16px rgba(34, 34, 34, 0.12);
}

.header-title {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
    color: #fff;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.header-subtitle {
    font-size: 1.3rem;
    color: #ffeaea;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 0;
}

main {
    max-width: 900px;
    width: 60%;
    margin: 2rem auto;
    padding: 2rem;
    text-align: left;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    overflow: scroll;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #222;
    color: #fff;
    position: relative;
}

footer a {
    color: #f20000;
    text-decoration: none;
}

.title {
    position: relative;
    color: #222;
    margin-bottom: 1rem;
    padding-left: 0.75rem;
    font-size: 1.5rem;
    border-left: 5px solid #f20000;
    border-radius: 10px;
    border-right: 5px solid #f20000;
    text-align: center;
    background: #e2e2e2;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}


.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    background: #fafafa;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    padding: 1rem;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    height: 100%;
    visibility: hidden;
}

.portfolio-footer {
    margin-top: auto;
}

.portfolio-item:hover {
    transform: translateY(-5px) scale(1.02);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.377);
}

.portfolio-item a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
}

.portfolio-item a:hover {
    text-decoration: underline;
}

.mt-1 {
    margin-top: 1rem;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 1rem 0;
}

#a-fricke {
    text-decoration: none;
    color: #f20000;
}

#a-fricke:hover {
    text-decoration: underline;
    color: #c00000;
}

@keyframes fadeInUp {
    0% {

        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        visibility: unset;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fadeInUp 0.6s ease-out forwards;
}

.portfolio-item:nth-child(1) {
    animation-delay: 0s;
}

.portfolio-item:nth-child(2) {
    animation-delay: 0.3s;
}

.portfolio-item:nth-child(3) {
    animation-delay: 0.6s;
}

.portfolio-item:nth-child(4) {
    animation-delay: 0.9s;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    1%{
        opacity: 0.1;
        transform: scale(0.001) rotate(0deg);
    }

    100% {
        visibility: unset;
        opacity: 1;
        transform: scale(1);
    }
}

.animate-zoom-in {
    animation: zoomIn 0.7s ease-out forwards;
}

